.wrapper {
    width: 20%;
    border-right: 1px solid #ccc;
    height: 89vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.option {
    height: 50px;
    display: flex;
    border-bottom: 1px solid #ccc;
    //background-color: aqua;
}
.infor-chat {
    width: 100%;
    align-items: center;
    display: flex;
    height: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.infor-chat:hover {
    background-color: #e5efff;
}
.img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    transition: 0.5s;
}
.img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.gui-chat h2 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: normal;
    color: #001a33;
}

.add-friend {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
}
.add-friend:hover,
.search-friend-icon:hover {
    cursor: pointer;
}
.icon-add-friend {
    font-size: 20px;
}
.add-friend span {
    font-weight: 800;
}
.search-friend-icon {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 12.3px;
}
.search-close {
    display: flex;
    align-items: center;
    width: 19%;
    display: none;
}
.btn-close {
    display: none;
    align-items: center;
}
.search-close button {
    font-size: 14px;
    height: 68%;
    width: 100%;
    background-color: transparent;
}
.search-friend {
    width: 90%;
    //background-color: rgba(0 255 255);
    padding: 5px;
    border-radius: 29px;
    margin: 8px 7px;
    box-shadow: 0px 1px 3px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search-friend {
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    margin-left: 5px;
}
