
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.modal-container{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.1);
    top: 0;
    left: 0;
    overflow: hidden;


}
.form-add-friend{
    margin: 10% auto;
    width: 20%;
    height: 60%;
    background-color: aquamarine;
    position: relative;
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.header h2{
    font-size: larger;
}
.form-friend{
    padding: 2px 10px;
}
.search{
    border-top: solid;
    border-bottom: solid;
    padding: 10px 0px;
}
.search h2{
    font-size: large;
}
.btn-search{
    margin-bottom: 3%;
}
.btn-search button{
    padding: 4px;
    margin: 0 2px;
    border-radius: 6px;
}
.input-number , .input-email{
    display: none;
    align-items: center;
    justify-content: space-around;
}
.input-number input, .input-email input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 4px;
    margin-right: 4px;
}
.info-search{
    margin-top: 5px;
}
.info-search h3{
    margin: 4% 0;
    display: flex;
    justify-content: center;
}
.btn-info{
    display: flex;
    justify-content: space-around;
    margin-top: 12%;
}
.btn-info button{
    padding: 5px;
    border-radius: 3px;
}

.footer{
    position: absolute;
    bottom: 5px;
    right: 2px;
    display: flex;
    /* width: 50%; */
    justify-content: flex-end;
}

.footer button{
    margin: 0px 8px;
    padding: 5px;
    border-radius: 4px;
}
.img-info{
    display: flex;
    justify-content: center;
}
.img-info img{
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 51px;
}